<div class="listsmovies-view">
    <uib-alert type="danger"
    class="animate-hide"
    ng-show="listsMoviesViewCtrl.error"
    close="listsMoviesViewCtrl.dismissError()">
        <i class="icon i-error"></i>
        <span ml-i18n="listsMovies.deleteMovieFailed" ml-i18n-params="listsMoviesViewCtrl.errorMessage"></span>
    </uib-alert>
    <div class="listsmovies-view-selector text-right">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="listsMoviesViewCtrl.selected" uib-btn-radio="'list'">
                <span class="icon i-listview"></span>
            </label>
            <label class="btn btn-default" ng-model="listsMoviesViewCtrl.selected" uib-btn-radio="'grid'">
                <span class="icon i-gridview"></span>
            </label>
        </div>
    </div>
    <div class="listsmovies-view-selected">
        <div class="listsmovies-view-child animate-show" ng-show="listsMoviesViewCtrl.selected === 'grid'">
            <ml-listsmovies-grid ml-view="listsMoviesViewCtrl.view"></ml-listsmovies-grid>
        </div>
        <div class="listsmovies-view-child animate-show" ng-show="listsMoviesViewCtrl.selected !== 'grid'">
            <ml-listsmovies-list ml-view="listsMoviesViewCtrl.view"></ml-listsmovies-list>
        </div>
    </div>
</div>