@import "{}/app/lib/client/styles/_imports.scss";

$listmovies-loading-height: 48px;

.listsmovies-view {
    .listsmovies-view-controls {
        .btn {
            font-size: $font-size-base;
        }
        .add-movie-from-tmdb {
            form .form-control {
                font-size: floor(1.15 * $font-size-base);
                height: 40px;
            }
        }
        .icon-label {
            @include media-xs-max {
                display: none;
            }
        }
    }
    .listsmovies-view-actions {
        @include media-xs-max {
            margin-top: $margin;
        }
    }
    .movie-sort-dropdown {
        .uib-dropdown-menu {
            width: 170px;
        }
    }
    .movie-filters-dropdown {
        .uib-dropdown-menu {
            @include media-sm-min {
                width: 300px;
            }
            @include media-lg-min {
                width: 340px;
            }
        }
        .genres-multiselect {
            max-width: 300px;
            
            @include media-lg-min {
                max-width: 340px;
            }
        }
    }
    .listsmovies-view-selected {
        margin-top: $margin;
        margin-bottom: $margin;
        min-height: $listmovies-loading-height + 2 * $margin;
        position: relative;

        .loading-panel {
            z-index: 999;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            background-color: rgba($gray-lighter, 0.5);

            .icon {
                position: absolute;
                top: 50%;
                margin-top: -0.5 * $listmovies-loading-height;
                font-size: $listmovies-loading-height;
                color: $gray-light;
            }
        }
    }
    .listmovies-view-pagination {
        margin-bottom: $margin;
        text-align: center;
        
        .pagination {
            margin-bottom: 0;
        }
        .icon {
            font-weight: bold;
        }
    }
    .movie-count {
        margin-bottom: 0;
    }
}