<div class="listsmovies-view">
    <uib-alert type="danger"
    class="animate-hide"
    ng-show="listsMoviesViewCtrl.error"
    close="listsMoviesViewCtrl.dismissError()">
        <i class="icon i-error"></i>
        <span ng-show="listsMoviesViewCtrl.error.deleteFailed"
        ml-i18n="listsMovies.deleteMovieFailed" ml-i18n-params="listsMoviesViewCtrl.errorMessage"></span>
        <span ng-show="listsMoviesViewCtrl.error.addFailed"
        ml-i18n="lists.movies.addFailed" ml-i18n-params="listsMoviesViewCtrl.errorMessage"></span>
        <span ng-show="listsMoviesViewCtrl.error.fetchFailed"
        ml-i18n="listsMovies.fetchFailed" ml-i18n-params="listsMoviesViewCtrl.errorMessage"></span>
    </uib-alert>
    <div class="row listsmovies-view-controls">
        <div class="col-sm-6">
            <ml-add-movie-from-tmdb on-added="listsMoviesViewCtrl.onMovieAdded"></ml-add-movie-from-tmdb>
        </div>
        <div class="col-sm-6" ng-show="listsMoviesViewCtrl.list.movieCount">
            <div class="listsmovies-view-actions text-right">
                <div class="btn-group animate-hide" ng-show="listsMoviesViewCtrl.selected === 'grid'">
                    <ml-movie-filters-dropdown ml-filter="listsMoviesViewCtrl.filter"
                    ml-genres="listsMoviesViewCtrl.genres"
                    ml-runtimes="listsMoviesViewCtrl.runtimes"></ml-movie-filters-dropdown>
                    <ml-movie-sort-dropdown ml-sort="listsMoviesViewCtrl.sort"
                    ml-user-score="listsMoviesViewCtrl.getUserScore"
                    ml-movie-score="listsMoviesViewCtrl.getMovieScore"></ml-movie-sort-dropdown>
                </div>
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="listsMoviesViewCtrl.selected" uib-btn-radio="'list'"
                    uib-tooltip="{{ 'listsMovies.tooltips.views.list' | mlI18n }}"
                    tooltip-append-to-body="true">
                        <span class="icon i-listview"></span>
                    </label>
                    <label class="btn btn-default" ng-model="listsMoviesViewCtrl.selected" uib-btn-radio="'grid'"
                    uib-tooltip="{{ 'listsMovies.tooltips.views.grid' | mlI18n }}"
                    tooltip-append-to-body="true">
                        <span class="icon i-gridview"></span>
                    </label>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" ng-click="listsMoviesViewCtrl.pickMovie()"
                    uib-tooltip="{{ 'listsMovies.tooltips.picker' | mlI18n }}"
                    tooltip-append-to-body="true">
                        <span class="icon i-picker"></span>
                        <span class="icon-label" ml-i18n="listsMovies.pickMovie"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="listsmovies-view-selected">
        <div class="animate-hide loading-panel" ng-show="listsMoviesViewCtrl.isLoading">
            <span class="icon i-loading"></span>
        </div>
        <div class="listsmovies-view-child animate-show" ng-show="listsMoviesViewCtrl.list.movieCount && listsMoviesViewCtrl.selected === 'grid'">
            <ml-listsmovies-grid ml-view="listsMoviesViewCtrl.view"></ml-listsmovies-grid>
        </div>
        <div class="listsmovies-view-child animate-show" ng-show="listsMoviesViewCtrl.list.movieCount && listsMoviesViewCtrl.selected !== 'grid'">
            <ml-listsmovies-list ml-view="listsMoviesViewCtrl.view"></ml-listsmovies-list>
        </div>
    </div>
    <div class="listmovies-view-pagination animate-hide" ng-show="listsMoviesViewCtrl.paging.count > 1">
        <nav>
            <ul class="pagination">
                <li ng-class="{ 'disabled': listsMoviesViewCtrl.paging.current === 1 }">
                    <a href ng-click="listsMoviesViewCtrl.goToPage(1)">
                        <span class="icon i-first" aria-hidden="true"></span>
                    </a>
                </li>
                <li ng-class="{ 'disabled': listsMoviesViewCtrl.paging.current === 1 }">
                    <a href ng-click="listsMoviesViewCtrl.goToPage(listsMoviesViewCtrl.paging.current - 1)">
                        <span class="icon i-previous" aria-hidden="true"></span>
                    </a>
                </li>
                <li ng-repeat="page in listsMoviesViewCtrl.paging.range"
                ng-class="{ 'active': listsMoviesViewCtrl.paging.current === page }">
                    <a href ng-click="listsMoviesViewCtrl.goToPage(page)">
                        <span ng-bind="page"></span>
                    </a>
                </li>
                <li ng-class="{ 'disabled': listsMoviesViewCtrl.paging.current === listsMoviesViewCtrl.paging.count }">
                    <a href ng-click="listsMoviesViewCtrl.goToPage(listsMoviesViewCtrl.paging.current + 1)">
                        <span class="icon i-next" aria-hidden="true"></span>
                    </a>
                </li>
                <li ng-class="{ 'disabled': listsMoviesViewCtrl.paging.current === listsMoviesViewCtrl.paging.count }">
                    <a href ng-click="listsMoviesViewCtrl.goToPage(listsMoviesViewCtrl.paging.count)">
                        <span class="icon i-last" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <p class="movie-count" ng-show="listsMoviesViewCtrl.filteredCount && listsMoviesViewCtrl.filteredCount !== listsMoviesViewCtrl.totalCount"
    ml-i18n="listsMovies.filteredCount" ml-i18n-params="listsMoviesViewCtrl.filteredCount"></p>
</div>