<div class="list-details">
    <div class="page-header">
        <h1>
            <span ng-bind="listDetailsCtrl.list.name"></span>
            <span class="badge badge-reverse badge-public" ng-show="listDetailsCtrl.list.isPublic">
                <span class="icon i-public"></span>
                <span ml-i18n="lists.labels.isPublic"></span>
            </span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        ng-click="listDetailsCtrl.editList()">
                    <span class="icon i-edit"></span>
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="listDetailsCtrl.deleteList()">
                    <span class="icon i-delete"></span>
                </button>
            </div>
        </h1>
    </div>
    <ml-listsmovies-view ml-list="listDetailsCtrl.list"></ml-listsmovies-view>
    <p class="movie-count" ng-show="listDetailsCtrl.list.movieCount"
    ml-i18n="lists.movies.count" ml-i18n-params="listDetailsCtrl.list.movieCount"></p>
</div>