@import "{}/app/lib/client/styles/_components.scss";

.list-details {
    .page-header {
        .btn {
            border: 0;
            border-radius: 4px;
            
            &:last-child:not(:first-child),
            &:first-child:not(:last-child):not(.dropdown-toggle) {
                border-radius: 4px;
            }
        }
    }
    .alert {
        margin-top: $margin;
    }
    .listsmovies-list {
        margin-top: $margin;
    }
}