@import "{}/app/lib/client/styles/_imports.scss";

.list-details {
    .page-header {
        h1 {
            > .badge {
                vertical-align: middle;
            }
            > .btn-toolbar {
                display: inline-block;
                vertical-align: middle;
                
                .btn {
                    padding: 7.5px 8px 6.5px;
                    
                    &:hover {
                        margin: 0;
                    }
                }
            }
        }
    }
    .alert {
        margin-top: $margin;
    }
    .listsmovies-view {
        margin-top: $margin;
    }
    .movie-count {
        text-align: center;
        font-size: 85%;
        margin-bottom: $margin;
    }
}