@import "{}/app/lib/client/styles/_imports.scss";

.listsmovies-list {
    .vote > .btn {
        @include btn-xs();
    }
    table thead {
        a,
        a:hover,
        a:active,
        a:focus {
            text-decoration: none;
        }
        .cell-genres {
            .input-group {
                max-width: 380px;
                
                @include media-lg-min {
                    max-width: 420px;
                }
            }
        }
        .cell-movie-score {
            white-space: nowrap;
        }
    }
}