<div class="listsmovies-list">
    <uib-alert type="danger"
    class="animate-hide"
    ng-show="listsMoviesListCtrl.error"
    close="listsMoviesListCtrl.dismissError()">
        <i class="icon i-error"></i>
        <span ml-i18n="listsMovies.deleteMovieFailed" ml-i18n-params="listsMoviesListCtrl.errorMessage"></span>
    </uib-alert>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <ml-sort-button ml-label="'listsMovies.labels.title' | mlI18n"
                    ml-value="'title'"
                    ml-expression="listsMoviesListCtrl.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.sort.isReverse"></ml-sort-button>
                </th>
                <th>
                    <ml-sort-button ml-label="'listsMovies.labels.runtime' | mlI18n"
                    ml-value="'runtime'"
                    ml-expression="listsMoviesListCtrl.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.sort.isReverse"></ml-sort-button>
                </th>
                <th>
                    <ml-sort-button ml-label="'listsMovies.labels.genres' | mlI18n"
                    ml-value="'genres'"
                    ml-expression="listsMoviesListCtrl.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.sort.isReverse"></ml-sort-button>
                </th>
                <th>
                    <ml-sort-button ml-label="'listsMovies.labels.userScore' | mlI18n"
                    ml-value="listsMoviesListCtrl.getUserScore"
                    ml-expression="listsMoviesListCtrl.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.sort.isReverse"></ml-sort-button>
                </th>
                <th>
                    <ml-sort-button ml-label="'listsMovies.labels.movieScore' | mlI18n"
                    ml-value="listsMoviesListCtrl.getMovieScore"
                    ml-expression="listsMoviesListCtrl.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.sort.isReverse"></ml-sort-button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in listsMoviesListCtrl.movies | orderBy:listsMoviesListCtrl.sort.expression:listsMoviesListCtrl.sort.isReverse">
                <td class="movie-title">
                    <a ui-sref="movieDetails({ movieId: movie._id })" ng-bind="movie.title"></a>
                </td>
                <td class="text-muted hidden-xs" ng-bind="movie.runtime | mlRuntime"></td>
                <td class="text-muted hidden-xs hidden-sm" ng-bind="movie.genres | mlGenres"></td>
                <td colspan="2">
                    <ml-vote ml-movie="movie" ml-score="listsMoviesListCtrl.userScores[movie._id]"></ml-vote>
                    <ml-movie-score ml-score="listsMoviesListCtrl.moviesScores[movie._id].average"></ml-movie-score>
                </td>
                <td class="text-right">
                    <a href ng-click="listsMoviesListCtrl.deleteMovie(movie)">
                        <i class="icon i-delete" ng-hide="movie.isDeleting"></i>
                        <i class="icon i-loading" ng-show="movie.isDeleting"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>