<div class="listsmovies-list">
    <table class="table table-striped">
        <thead>
            <tr class="active">
                <th class="cell-title">
                    <ml-sort-button ml-label="'listsMovies.labels.title' | mlI18n"
                    ml-value="'title'"
                    ml-expression="listsMoviesListCtrl.view.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.view.sort.isReverse"
                    ml-icon="'alpha'"></ml-sort-button>
                </th>
                <th class="cell-runtime text-muted hidden-xs">
                    <ml-sort-button ml-label="'listsMovies.labels.runtime' | mlI18n"
                    ml-value="'runtime'"
                    ml-expression="listsMoviesListCtrl.view.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.view.sort.isReverse"
                    ml-icon="'amount'"></ml-sort-button>
                </th>
                <th class="cell-genres text-muted hidden-xs hidden-sm">
                    <ml-sort-button ml-label="'listsMovies.labels.genres' | mlI18n"
                    ml-value="'genres'"
                    ml-expression="listsMoviesListCtrl.view.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.view.sort.isReverse"
                    ml-icon="'alpha'"></ml-sort-button>
                </th>
                <th class="cell-movie-score">
                    <ml-sort-button ml-label="'listsMovies.labels.movieScore' | mlI18n"
                    ml-value="'movieScore'"
                    ml-expression="listsMoviesListCtrl.view.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.view.sort.isReverse"
                    ml-icon="'amount'"></ml-sort-button>
                </th>
                <th class="cell-user-score">
                    <ml-sort-button ml-label="'listsMovies.labels.userScore' | mlI18n"
                    ml-value="'userScore'"
                    ml-expression="listsMoviesListCtrl.view.sort.expression"
                    ml-is-reverse="listsMoviesListCtrl.view.sort.isReverse"
                    ml-icon="'amount'"></ml-sort-button>
                </th>
                <th class="cell-delete"></th>
            </tr>
            <tr class="active">
                <td class="cell-title">
                    <input type="text" class="form-control" placeholder="{{ 'listsMovies.filters.title' | mlI18n }}"
                    ng-model="listsMoviesListCtrl.view.filter.title"
                    ng-model-options="{ debounce: 400 }">
                </td>
                <td class="cell-runtime text-muted hidden-xs">
                    <ml-runtime-dropdown-slider ml-runtime="listsMoviesListCtrl.view.filter.runtime"
                    ml-range="listsMoviesListCtrl.view.runtimes"></ml-runtime-dropdown-slider>
                </td>
                <td class="cell-genres text-muted hidden-xs hidden-sm">
                    <ml-genres-multiselect ml-filter="listsMoviesListCtrl.view.filter.genres"
                    ml-genres="listsMoviesListCtrl.view.genres"></ml-genres-multiselect>
                </td>
                <td class="cell-movie-score">
                    <ml-score-dropdown-slider ml-score="listsMoviesListCtrl.view.filter.movieScore"></ml-score-dropdown-slider>
                </td>
                <td class="cell-user-score">
                    <ml-score-dropdown-slider ml-score="listsMoviesListCtrl.view.filter.userScore"></ml-score-dropdown-slider>
                </td>
                <td class="cell-delete"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movie in listsMoviesListCtrl.view.movies track by movie._id">
                <td class="cell-title">
                    <a ui-sref="movieDetails({ movieId: movie._id })" ng-bind="movie.title"></a>
                </td>
                <td class="cell-runtime hidden-xs" ng-bind="movie.runtime | mlRuntime"></td>
                <td class="cell-genres hidden-xs hidden-sm" ng-bind="movie.genres | mlGenres"></td>
                <td class="cell-movie-score">
                    <span class="icon i-star-hollow" ng-hide="listsMoviesListCtrl.view.moviesScores[movie._id].average"></span>
                    <span class="icon i-star" ng-show="listsMoviesListCtrl.view.moviesScores[movie._id].average"></span>
                    <span class="numeric-score"
                    ng-bind="listsMoviesListCtrl.view.moviesScores[movie._id].average | mlScoreFilter"
                    ng-show="listsMoviesListCtrl.view.moviesScores[movie._id].average"></span>
                </td>
                <td class="cell-user-score">
                    <ml-vote ml-movie="movie" ml-score="listsMoviesListCtrl.view.userScores[movie._id]"
                    ml-on-vote="listsMoviesListCtrl.view.reload"></ml-vote>
                </td>
                <td class="cell-delete text-right">
                    <a href ng-click="listsMoviesListCtrl.view.deleteMovie(movie)">
                        <i class="icon i-delete" ng-hide="movie.isDeleting"></i>
                        <i class="icon i-loading" ng-show="movie.isDeleting"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>