<div class="listsmovies-list">
    <uib-alert type="danger"
    class="animate-hide"
    ng-show="listsMoviesListCtrl.error"
    close="listsMoviesListCtrl.dismissError()">
        <i class="icon i-error"></i>
        <span ml-i18n="listsMovies.deleteMovieFailed" ml-i18n-params="listsMoviesListCtrl.errorMessage"></span>
    </uib-alert>
    <table class="table">
        <tbody>
            <tr ng-repeat="movie in listsMoviesListCtrl.movies">
                <td class="movie-title">
                    <a ui-sref="movieDetails({ movieId: movie._id })" ng-bind="movie.title"></a>
                </td>
                <td class="text-muted hidden-xs" ng-bind="movie.runtime | mlRuntime"></td>
                <td class="text-muted hidden-xs hidden-sm" ng-bind="movie.genres | mlGenres"></td>
                <td>
                    <ml-vote ml-movie="movie" ml-score="listsMoviesListCtrl.userScores[movie._id]"></ml-vote>
                    <ml-movie-score ml-score="listsMoviesListCtrl.moviesScores[movie._id].average"></ml-movie-score>
                </td>
                <td class="text-right">
                    <a href ng-click="listsMoviesListCtrl.deleteMovie(movie)">
                        <i class="icon i-delete" ng-hide="movie.isDeleting"></i>
                        <i class="icon i-loading" ng-show="movie.isDeleting"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>