@import "{}/app/lib/client/styles/_imports.scss";

.movie-scores-list {
    .panel-heading {
        h3 {
            margin: 0;
        }
    }
    .panel-body {
        > ul {
            margin-bottom: 0;
            
            li {
                margin-bottom: $padding-small-vertical;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .movie-score {
        font-size: 14px;
    }
    .gravatar {
        border-radius: 50%;
    }
}