<div class="movie-data">
    <div class="row" ng-class="{ 'hidden-xs': !movieDataCtrl.movie.trailerYouTubeId }">
        <div class="col-sm-3" ng-if="movieDataCtrl.movie.tmdbPosterUrl">
            <img class="img-responsive poster"
            ng-src="http://image.tmdb.org/t/p/w500/{{movieDataCtrl.movie.tmdbPosterUrl}}"
            alt="{{movieDataCtrl.movie.title}}">
        </div>
        <div ng-class="{ 'col-sm-9': movieDataCtrl.movie.tmdbPosterUrl, 'col-sm-12': !movieDataCtrl.movie.tmdbPosterUrl, 'hidden-xs': !movieDataCtrl.hasTrailer }">
            <div class="embed-responsive embed-responsive-custom">
                <iframe class="embed-responsive-item"
                ng-src="{{movieDataCtrl.movie.trailerYouTubeId | mlYouTubeUrl:true}}" 
                ng-if="movieDataCtrl.hasTrailer"></iframe>
                <span class="trailer-none" ng-if="!movieDataCtrl.hasTrailer">
                    <span class="icon i-notavailable"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-sm-3">
            <ul class="list-unstyled text-muted list-movie-meta">
                <li ng-bind="movieDataCtrl.movie.runtime | mlRuntime"></li>
                <li ng-bind="movieDataCtrl.movie.genres | mlGenres"></li>
                <li>
                    <a ng-href="http://www.imdb.com/title/{{movieDetailsCtrl.movie.imdbId}}/">IMDb</a>,
                    <a ng-href="https://www.themoviedb.org/movie/{{movieDetailsCtrl.movie.tmdbId}}/">TMDb</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="summary" ng-bind="movieDataCtrl.movie.summary"></div>
        </div>
    </div>
</div>