<div class="movie-details">
    <div class="page-header">
        <h1>
            <span ng-bind="movieDetailsCtrl.movie.title"></span>
            <small ng-show="movieDetailsCtrl.hasOriginalTitle"
            ng-bind="movieDetailsCtrl.movie.originalTitle"></small>
            <small ng-show="movieDetailsCtrl.movie.released">
                (<span ng-bind="movieDetailsCtrl.movie.released | mlYear"></span>)
            </small>
        </h1>
        <div class="row">
            <div class="col-sm-8">
                <ul class="list-inline text-muted">
                    <li>
                        <span ng-bind="movieDetailsCtrl.movie.runtime | mlRuntime"></span>
                    </li>
                    <li>
                        <span ng-bind="movieDetailsCtrl.movie.genres | mlGenres"></span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 logos">
                <ul class="list-inline">
                    <li>
                        <a ng-href="http://www.imdb.com/title/{{movieDetailsCtrl.movie.imdbId}}/">
                            <img src="/images/imdb_small.png" alt="IMDb" class="logo">
                        </a>
                    </li>
                    <li>
                        <a ng-href="https://www.themoviedb.org/movie/{{movieDetailsCtrl.movie.tmdbId}}/">
                            <img src="/images/tmdb_v5_small.png" alt="TMDb" class="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img ng-if="movieDetailsCtrl.movie.tmdbPosterUrl"
            class="img-responsive poster"
            ng-src="http://image.tmdb.org/t/p/w500/{{movieDetailsCtrl.movie.tmdbPosterUrl}}"
            alt="{{movieDetailsCtrl.movie.title}}">
        </div>
        <div class="col-sm-9">
            <div class="embed-responsive embed-responsive-custom"
            ng-if="movieDetailsCtrl.youTubeUrl">
                <iframe class="embed-responsive-item" ng-src="{{movieDetailsCtrl.youTubeUrl}}"></iframe>
            </div>
        </div>
    </div>
    <div class="summary" ng-bind="movieDetailsCtrl.movie.summary"></div>
    <ml-movie-lists ml-movie="movieDetailsCtrl.movie"></ml-movie-lists>
</div>