@mixin star-score-colors($empty, $full, $hover:false) {
    .star-options {
        color: $empty;

        // color current and previous stars on checked
        input:checked ~ label { 
            color: $full;
        }
        
        @if $hover {
            // color current and previous stars on hover
            label:hover,
            label:hover ~ label {
                color: $hover;
            }
            
            // hover highlights
            input:checked + label:hover, input:checked ~ label:hover, // highlight current and previous stars
            input:checked ~ label:hover ~ label, // highlight previous selected stars for new rating
            label:hover ~ input:checked ~ label { // highlight previous selected stars
                color: $hover;
            }
        }
    }
    .star-score {
        .numeric-score {
            color: $full;
        }
    }
}
@mixin star() {
    // fa-star
    content: "\f005";
}
@mixin star-half() {
    // fa-star-half
    content: "\f089";
}
@mixin star-hollow() {
    // fa-star-o
    content: "\f006";
}