.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.i-movielist {
    // fa-film
    &:before {
        content: "\f008";
    }
}
.i-loading {
    // fa-spin
    animation: fa-spin 2s infinite linear;
    -webkit-animation: fa-spin 2s infinite linear;
    
    // fa-circle-o-notch
    &:before {
        content: "\f1ce";
    }
}
.i-add {
    // fa-plus-circle
    &:before {
        content: "\f055";
    }
}
.i-edit {
    // fa-pencil
    &:before {
        content: "\f040";
    }
}
.i-delete {
    // fa-trash
    &:before {
        content: "\f1f8";
    }
}
.i-success {
    // fa-check-circle
    &:before {
        content: "\f058";
    }
}
.i-info {
    // fa-info-circle
    &:before {
        content: "\f05a";
    }
}
.i-warning {
    // fa-exclamation-triangle
    &:before {
        content: "\f071";
    }
}
.i-error {
    // fa-times-circle
    &:before {
        content: "\f057";
    }
}
.i-caret-up {
    // fa-caret-up
    &:before {
        content: "\f0d8";
    }
}
.i-caret-down {
    // fa-caret-down
    &:before {
        content: "\f0d7";
    }
}
.i-angle-down {
    // fa-angle-down
    &:before {
        content: "\f107";
    }
}
.i-public {
    // fa-users
    &:before {
        content: "\f0c0";
    }
}
.i-notavailable {
    &:before {
        // fa-ban
        content: '\f05e';
    }
}
.i-clock {
    &:before {
        // fa-clock-o
        content: '\f017';
    }
}
.i-listview {
    &:before {
        // fa-th-list
        content: '\f00b';
    }
}
.i-gridview {
    &:before {
        // fa-th
        content: '\f00a';
    }
}
.i-sort-alpha-asc {
    &:before {
        // fa-sort-alpha-asc
        content: '\f15d';
    }
}
.i-sort-alpha-desc {
    &:before {
        // fa-sort-alpha-desc
        content: '\f15e';
    }
}
.i-sort-amount-asc {
    &:before {
        // fa-sort-amount-asc
        content: '\f160';
    }
}
.i-sort-amount-desc {
    &:before {
        // fa-sort-amount-desc
        content: '\f161';
    }
}
.i-sort-asc {
    &:before {
        // fa-sort-asc
        content: '\f0de';
    }
}
.i-sort-desc {
    &:before {
        // fa-sort-desc
        content: '\f0dd';
    }
}
.i-sort {
    &:before {
        // fa-sort
        content: '\f0dc';
    }
}
.i-filter {
    &:before {
        // fa-filter
        content: '\f0b0';
    }
}
.i-picker {
    &:before {
        // fa-magic
        content: '\f0d0';
    }
}