.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.i-movielist {
    // fa-film
    &:before {
        content: "\f008";
    }
}
.i-loading {
    // fa-spin
    animation: fa-spin 2s infinite linear;
    -webkit-animation: fa-spin 2s infinite linear;
    
    // fa-circle-o-notch
    &:before {
        content: "\f1ce";
    }
}
.i-add {
    // fa-plus-circle
    &:before {
        content: "\f055";
    }
}
.i-edit {
    // fa-pencil
    &:before {
        content: "\f040";
    }
}
.i-delete {
    // fa-trash
    &:before {
        content: "\f1f8";
    }
}