@import "{}/app/lib/client/styles/_imports.scss";

.home {
    .btn-group {
        margin-bottom: $padding;
    }
    .jumbotron {
        text-align: center;
        
        @include media-sm-min {
            padding-bottom: 0;
        }
    }
    .movielist-preview {
        margin-top: $margin;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .features {
        text-align: center;
        
        .col-sm-4 {
            margin-top: $margin;
            margin-bottom: $margin;
        }
        .icon {
            font-size: 2.5 * $font-size-large;
        }
        h2 {
            margin-top: $margin-sm;
            font-weight: normal;
        }
        ul {
            font-size: $font-size-large;
            color: $gray-light;
        }
    }
}