@import "{}/app/lib/client/styles/_imports.scss";

.add-movie-from-tmdb {
    .input-group {
        .input-group-btn {
            width: 1%;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .dropdown-menu {
        a {
            h4 {
                display: inline-block;
            }
        }
    }
    .alert {
        margin-top: $margin;
    }
}
.add-movie-from-tmdb-popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    > .dropdown-menu {
        position: static;
        float: none;
        display: block;
    }
}