@import "{}/app/lib/client/styles/_imports.scss";

.add-movie-from-tmdb {
    .input-group {
        .input-group-inner {
            position: relative;
            
            input {
                width: 100%;
            }
            .i-loading {
                z-index: 4;
                width: $font-size-base;
                height: $font-size-base;
                top: 0.5 * (38px - $font-size-base);
                right: 0.5 * (38px - $font-size-base);
            }
        }
        .input-group-btn {
            width: 1%;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .dropdown-menu {
        a {
            h4 {
                display: inline-block;
            }
        }
        > .active > a {
            h4,
            &:hover h4,
            &:focus h4 {
                color: $text-inverted;
            }
        }
    }
    .alert {
        margin-top: $margin;
    }
}
.add-movie-from-tmdb-popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    > .dropdown-menu {
        position: static;
        float: none;
        display: block;
    }
}