@import "{}/app/lib/client/styles/_colors.scss";
@import "{}/app/scores/client/styles/_mixins.scss";
@import "{}/app/lib/client/styles/_components.scss";

.vote {
    display: inline-block;
    
    @include star-score-colors($gray-light, $brand-warning, darken($brand-warning, 15%));
    
    .star-score {
        min-width: 100px;
        padding-left: $padding-xs-horizontal;
    }
}
.vote-todo-label {
    text-transform: uppercase;
    font-size: 75%;
    vertical-align: text-bottom;
}