<div class="vote well well-sm">
    <div class="star-score">
        <fieldset class="star-options">
            <input ng-repeat-start="i in [10, 8, 6, 4, 2]"
            type="radio"
            name="vote_rating_{{ voteCtrl.movie._id }}"
            id="rating{{ i }}"
            ng-value="i"
            ng-model="voteCtrl.starScore" />
            
            <label ng-repeat-end
            for="rating{{ i }}"
            title="{{ 'scores.star' + (i * 10 / 2) | mlI18n }}"
            ng-click="voteCtrl.vote(i / 2)"></label>
        </fieldset>
        <span class="numeric-score"
        ng-bind="voteCtrl.score"
        ng-show="voteCtrl.score > 0"></span>
    </div>
    
    <uib-alert type="danger"
    class="animate-hide"
    ng-show="voteCtrl.error"
    close="voteCtrl.dismissError()">
        <i class="icon i-error"></i>
        <span ml-i18n="scores.saveFailed" ml-i18n-params="voteCtrl.errorMessage"></span>
    </uib-alert>
</div>