<div class="vote" uib-dropdown>
    <button type="button" class="btn"
    ng-class="{ 'btn-warning': !voteCtrl.score, 'btn-primary': voteCtrl.score.score }"
    uib-dropdown-toggle
    dropdown-append-to-body
    uib-popover-template="'app/scores/client/vote/error.html'"
    popover-is-open="voteCtrl.error"
    popover-trigger="none"
    popover-placement="bottom"
    popover-append-to-body="true">
        <span ng-hide="voteCtrl.score" class="vote-todo">
            <span class="icon i-star-hollow" ng-hide="voteCtrl.isSubmitting"></span>
            <span class="icon i-loading" ng-show="voteCtrl.isSubmitting"></span>
            <span class="icon i-angle-down"></span>
        </span>
        <span ng-show="voteCtrl.score.score" class="vote-completed">
            <span class="icon i-star"></span>
            <span class="numeric-score" ng-bind="voteCtrl.score.score"></span>
        </span>
    </button>
    <div class="star-score uib-dropdown-menu">
        <fieldset class="star-options">
            <input ng-repeat-start="i in [10, 8, 6, 4, 2]"
            type="radio"
            name="vote_rating_{{ voteCtrl.movie._id }}"
            id="rating_{{ voteCtrl.movie._id }}_{{ i }}"
            ng-value="i"
            ng-model="voteCtrl.starScore" />
            
            <label ng-repeat-end
            for="rating_{{ voteCtrl.movie._id }}_{{ i }}"
            title="{{ 'scores.star' + (i * 10 / 2) | mlI18n }}"
            ng-click="voteCtrl.vote(i / 2)"></label>
        </fieldset>
    </div>
</div>